.app {
  margin-block: 8rem;
  width: calc(100% - 6.8rem);
  max-width: 81.6rem;
  display: grid;
  place-items: center;
  grid-template:
    'phone' auto
    'info' auto / auto;
  row-gap: 6.6rem;
  @media screen and (min-width: 700px) {
    grid-template: 'phone info' 1fr / auto 1fr;
    place-items: start;
    column-gap: 12.5rem;
  }
}
